.experimentList{
    border: 1px solid red;
    padding: 42px;

    .box{
        .search{
            width: 90%;
            &-input{
                width: 330px;
            }
        }

        .filter{
            width: 10%;
            text-align: right;

            &-button{
                width: 80px;
            }
        }
    }

    .filter-condition{
        margin-top: 26px;
        .reset{
            width: 80px;
            position: relative;
            top: 29px;
        }
    }

    .hidden{
        display: none;
    }

    .margin{
        margin-left: 10px;
    }

    .tag{
        font-weight: 500;
        background: #f2f2f2;
        margin: 0 4px;
        padding: 0 6px;
    }
}