/* some buttons in trial-detail table */
.allList {
    width: 96%;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}

/* each row's Intermediate btn -> Modal */
.selectKeys {
    /* intermediate result is dict, select box for keys */
    .select {
        margin-right: 6%;
        margin-bottom: 15px;
    }

    .ms-Dropdown {
        width: 120px;
    }
}

$filterConditionsHeight: 54px;

.filterConditions {
    height: $filterConditionsHeight;
    line-height: $filterConditionsHeight;
    padding: 0 15px;

    .btn-vertical-middle {
        margin-top: 11px;
    }

    .input {
        width: 100px;
        height: 24px;
        margin-top: 13px;
        border: 1px solid #333;
        border-radius: 20px;
        outline: none;
    }

    .and {
        margin: 0 4px;
    }
}

.ms-ContextualMenu-Callout {
    display: block;
}
