{
    "env": {
        "browser": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-namespace": 0,
        "@typescript-eslint/consistent-type-assertions": 0,
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-use-before-define": [2, "nofunc"],
        "no-inner-declarations": 0,
        "@typescript-eslint/no-var-requires": 0,
        "react/display-name": 0
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "ignorePatterns": [
            "node_modules/",
            "build/",
            "**/*.js"
        ]
    }
}