// $width: 80%;
// .command {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   .command1{
//     grid-column: 1 / 2;
//     max-width: $width;
//   }
//   .command2{
//     grid-column: 2 / 3;
//     max-width: $width;
//   }
//   .command3{
//     grid-column: 3 / 4;
//     max-width: $width;
//   }
//   .lineMargin{
//     margin-top: 32px;
//   }
// }
.command {
    width: 100%;

    >div {
        display: inline-block;
    }

    .command1 {
        width: 46%;

        p {
            margin-top: 0;
        }
    }

    .command2 {
        width: 54%;

        p {
            margin-top: 0;
        }
    }

    .command1,
    .command2 {
        .lineMargin {
            margin-top: 20px;
        }
    }
}
