.log{
    width: 98%;
    margin: 10px auto;
}
.log pre{
    white-space: pre-wrap;
    color: #333;
    border: 1px solid #e8e8e8;
    border-top: none;
    margin-top: -17px;
    padding: 14px;
}
.marginTab{
    margin-right: 5px;
}
.pai{
    position: fixed;
    top: 16px;
    right: 1%;
}