.para{
    margin-top: 50px;
}
.paraCon{
    width: 80%;
    margin: 0 auto;
    border: 2px solid #ccc;
    box-shadow: 0px 2px 0px rgba(204,204,204,.8);
}
.paraTitle{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    font-size: 20px;
    color: #333;
    border-bottom: 1px solid #ccc;
}
.paraLeft{
    float: left;
}
.paraRight{
    float: right;
    width: 60%;
}
.paraRight .parapercent{
    margin-right: 10px;
}
/* user exchange search space yAxis */
.paraExchange{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    font-size: 20px;
    color: #333;
}
Button.changeBtu, Button.changeBtu:hover, Button.changeBtu:focus{
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.paraGra{
    position: relative;
}
.paraGra .paraNodata{
    position: absolute;
    left: 49%;
    top: 2.5%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.45)
}