.session {
    width: 98%;
    margin: 30px auto;
}
.headRow{
    border: 1px solid red;
}
.boxLitt{
    border-right: 1px solid #eee;
}
.box1 b{
    font-size: 18px;
    color: #333;
}
.box1 span{
    margin-left: 10px;
    font-size: 16px;
    /* color: #999; */
}
/* long long ago */
.session .head{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.headCon{
    margin: 0 auto;
}
.session .head .headCon>div{
    float: left;
    width: 17%;
    min-width: 230px;
    height: 120px;
    margin-right: 1.4%;
    margin-bottom: 10px;
}
.session .head .headCon>div>div:first-child{
    float: left;
    width: 50%;
}
.session .head .headCon>div>div:last-child{
    float: right;
    width: 50%;
}
.session .head .headCon>div .message{
    width: 30px;
    height: 100%;
    margin: 0 auto;
    padding-left: 6px;
    box-sizing: border-box;
}
.runtime{
    padding-left: 6px;
    box-sizing: border-box;
}
/* trial profile author id ... */
.message span, .message p{
    color: #999;
    font-size: 14px;
}
.proKey {
    padding-top: 16px;
    padding-bottom: 10px;
    color: #999;
}
.proTime{
    padding-top: 16px;
}
.message .trialNum{
    padding-top: 32px;
}
.session .head .headCon>div .logo{
    width: 100%;
    height: 100%;
}
.session .head .headCon>div .logo i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: 38%;
    margin-top: 19%;
    font-size: 38px;
    border-radius: 50%;
}
/* logo color backcolor */
.tyellow{
    color: #FAE5B6;
    border: 2px solid #FAE5B6;
}
.bone {
    color: #9DC6E0;
    border: 2px solid #9DC6E0;
}
.thrpink{
    color: #F4C3C6;
    border: 2px solid #F4C3C6;
}
.fogreen{
    color: #B2E7CF;
    border: 2px solid #B2E7CF;
}
/* four block color backcolor */
.session .head .author{
    background: #CEE8F7;
    border:2px solid #B1D6E8;
}
.session .head .type{
    background: #FCF5DB;
    border:2px solid #F4EAC6;
}
.session .head .runtime{
    background: #FCDEE3;
    border:2px solid #F4C3C6;
}
.session .head .cdf{
    background: #DAF6E8;
    border:2px solid #CAEEDD;
    margin-right: 0;
}

.messcont{
    padding-left: 10px;
    font-size: 14px;
}
.searchTitle {
    /* font-size: 30px; */
    color: #333;
    margin-top: 15px;
}
.jsonbox>div{
    float: left;
    width: 45%;
}
.jsonbox>div:first-child{
    margin-right: 8%;
}
.jsonbox .trialProfile{
    height: 246px;
}
.clear{
    clear: both;
}
.searchSpace{
    height: 246px;
}
.searchSpace, .trialProfile{
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(60,141,188,.1);
}
.jsontree ul, .jsontree ul li{
    background: none !important;
}
.selectInline{
    margin-bottom: 15px;
}
.selectItem{
    display: inline;
    padding-right: 8px;
}
.ant-select{
    width: 90px;
}
#description {
    text-align: left;
}
/* react-json-view background */
#description ul, #description ul li{
    background: none !important;
}
.comtable{
    width: 100%;
    border: 1px solid #ccc;
    padding: 23px 24px 5px 24px;
    margin-bottom: 30px;
}
.tabuser1, .tabuser2{
    color: #333;
}
.tabuser1, .tabuser2{
    margin-right: 8px;
}
.cdf{
    width: 100%;
    border: 1px solid #ccc;
}
.cdf>div:first-child{
    position: relative;
}
.cdf .addNodata{
    position: absolute;
    left: 48.5%;
    top: 75%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.45)
}