.slider{
    position: fixed;
    top: 60px;
    left: 0; 
    background: #222d32;
    border-right: 1px solid #ccc;
    width: 250px;
    height: calc(100% - (60px)); 
    z-index: 1000;
}
.nav{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
.nav li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(255,255,255,.08);
}
.nav .icon{
    padding-left: 13px;
    padding-right: 13px;
}
.nav .floicon {
    font-size: 16px;
    float: right;
    margin-right: 10px;
    line-height: 40px;
}
.nav li a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    color: #b8c7ce;
}
.nav li a:hover{
    color: white;
    background: #1e282c;
}
.nav .high{
    color: white;
    background: #1e282c;
}