.hyper{
    width: 98%;
    margin: 30px auto;
}
.rungraph{
    width: 100%;
}
/* add the brother selector to increase the priority */
#tableCenter .tables th, #session .tables th{
    background:	rgb(217,222,228);
    /* the center of the table title */
    text-align: center;
    font-weight: 700;
}
#tableCenter .tables tr, #session .tables tr{
    text-align: center;
    color:#333;
}
pre.hyperpar{
    text-align: left;
}
.tables{
    width: 100%;
}
/* the color of id  */
#tableCenter .tables .ant-table-thead .tableHead>span{
    color: #333;
}
/* the position of the pagination */
.ant-table-pagination.ant-pagination{
    margin: 16px 0;
    float: right;
    margin-right: 30px; 
}
Button.tableButton{
    background:	#3c8dbc;
    border-color: #3c8dbc;
    height: 28px;
    line-height: 28px;
    /* padding: 3px 4px; */
}
/* status bgcolor */
.commonStyle{
    border-radius: 3px;
    color: white;
}
.RUNNING{
    padding: 3px 8px; 
    background: #3c8dbc;
}
.FAILED{
    padding: 3px 24px;
    background:	#dd4b39;
}
.USER_CANCELED{
    padding: 3px 8px; 
    background:	#FF4500;
}
.SUCCEEDED{
    padding: 3px 6px;
    background: #00a65a;
}
.UNKNOWN{
    padding: 3px 15px;
    background:	#FF8C00;
}
.SYS_CANCELED{
    padding: 3px 24px;
    background:	red;
}
.WAITING{
    padding: 3px 24px;
    background:	#008B8B;
}
.hyperpar ul, .hyperpar ul li{
    background: none !important;
}
/* kill btn style: delete its own hover style */
/* after button click the color not change */
Button.tableButton:hover, Button.tableButton:focus{
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.ant-modal-title{
    font-size: 20px;
}



