site_name: Neural Network Intelligence

nav:
    - Overview: README.md
    - What's New: RELEASE.md
    - Tutorials:
        - QuickStart: QuickStart.md
        - Installation: Installation.md
        - Trial HowTo: howto_1_WriteTrial.md
        - Tuners:
            - Try Builtin Tuners: Tuners.md
            - Customized Tuners: Customize_Tuner.md
            - Customized Advisor: howto_3_CustomizedAdvisor.md
        - Assessors:
            - Try Builtin Assessors: Assessors.md
            - Customized Assessors: Customize_Assessor.md
        - Training Platform:
            - Remote: RemoteMachineMode.md
            - PAI: PAIMode.md
            - Kubeflow: KubeflowMode.md
    - Examples:
        - MNIST Examples: mnist_examples.md
    - Reference:
        - nnictl: NNICTLDOC.md
        - Configuration: ExperimentConfig.md
        - Search Space: SearchSpaceSpec.md
        - Annotation: AnnotationSpec.md
    - Contribution:
        - Development Setup: SetupNNIDeveloperEnvironment.md
        - Contribution Guide: CONTRIBUTING.md
        - Debug HowTO: HowToDebug.md
theme: readthedocs
