<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aether.ContractProcessing" version="19.0.2" targetFramework="net462" />
  <package id="AEther.DataContracts" version="19.0.1" targetFramework="net462" />
  <package id="AEther.GraphLayoutHelper" version="19.0.2" targetFramework="net462" />
  <package id="AEther.Instrumentation" version="19.0.2" targetFramework="net462" />
  <package id="AEther.Library" version="18.0.2" targetFramework="net462" />
  <package id="Aether.LongPathFileIOCommon" version="19.0.0" targetFramework="net462" />
  <package id="AEther.Security.Client" version="19.0.2" targetFramework="net462" />
  <package id="AEther.Security.Common" version="19.0.2" targetFramework="net462" />
  <package id="AEther.Security.Common.Authentication" version="19.0.2" targetFramework="net462" />
  <package id="AEtherServiceContracts" version="18.0.2" targetFramework="net462" />
  <package id="Bond.Core.CSharp" version="7.0.1" targetFramework="net462" />
  <package id="Bond.CSharp" version="7.0.1" targetFramework="net462" />
  <package id="Bond.Runtime.CSharp" version="7.0.1" targetFramework="net462" />
  <package id="DsmsCredentialsManagement" version="2.9.526.0" targetFramework="net462" />
  <package id="DstsAuthentication.master" version="2.0.1.16" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net462" />
  <package id="LibGit2Sharp" version="0.22.0" targetFramework="net462" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.129" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.Azure.DocumentDB.Core" version="1.7.1" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net462" />
  <package id="Microsoft.Cloud.InstrumentationFramework" version="3.0.6.79" targetFramework="net462" />
  <package id="Microsoft.Cosmos.VcClient" version="1.8.5463953" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Experimental.IO" version="1.0.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.1" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="net462" />
  <package id="MSAGL_11_0.Library" version="1.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="1.6.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net462" />
  <package id="RelInfra.Common.Library" version="4.0.1" targetFramework="net462" />
  <package id="RelInfra.Extensions.Library" version="4.0.1" targetFramework="net462" />
  <package id="RelInfra.Instrumentation.Library" version="8.1.0" targetFramework="net462" />
  <package id="RelInfra.Storage.Cosmos" version="4.0.1" targetFramework="net462" />
  <package id="RelInfra.Storage.Library" version="7.1.0" targetFramework="net462" />
  <package id="RestSharp" version="106.6.9" targetFramework="net462" />
  <package id="System.AppContext" version="4.1.0" targetFramework="net462" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net462" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net462" />
  <package id="System.Collections.Specialized" version="4.0.1" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net462" />
  <package id="System.Console" version="4.0.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.4.2" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="net462" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.Tracing" version="4.1.0" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization.Calendars" version="4.0.1" targetFramework="net462" />
  <package id="System.IO" version="4.1.0" targetFramework="net462" />
  <package id="System.IO.Compression" version="4.1.0" targetFramework="net462" />
  <package id="System.IO.Compression.ZipFile" version="4.0.1" targetFramework="net462" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net462" />
  <package id="System.Net.NetworkInformation" version="4.1.0" targetFramework="net462" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Net.Security" version="4.0.0" targetFramework="net462" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="net462" />
  <package id="System.Net.WebHeaderCollection" version="4.0.1" targetFramework="net462" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net462" />
  <package id="System.Reflection.Primitives" version="4.0.1" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Handles" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.0" targetFramework="net462" />
  <package id="System.Security.SecureString" version="4.0.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net462" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net462" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="net462" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="net462" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="net462" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="3.2.2" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="8.6.0" targetFramework="net462" />
</packages>