.nni{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212121;
  font-size: 14px;
  background: #f2f2f2;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px; 
  background: #0071BC;
  border-right: 1px solid #ccc;
  z-index: 1000;
}
.headerCon{
  min-width: 1024px;
}
.contentBox{
  width: 100%;
}
.content{
  width: 86%;
  min-width: 1024px;
  margin: 0 auto;
  margin-top: 74px;
  margin-bottom: 30px;
  background: #fff;
}


