.nni{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212121;
  font-size: 14px;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px; 
  background: #0071BC;
  border-right: 1px solid #ccc;
  z-index: 1000;
}
.headerCon{
  min-width: 600px
}
.content{
  width: 86%;
  min-width: 1024px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 30px;
}


