$boxPadding: 24px;
$boxBorderRadius: 5px;
$boxGapPadding: 10px;

.overviewWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 102px;
    margin-bottom: 24px;
    max-height: 1098px;

    > div {
        background: #fff;
        padding: $boxPadding;
        border-radius: $boxBorderRadius;
        box-sizing: border-box;
    }

    .left {
        margin-right: 10px;
    }

    .duration,
    .trialCount {
        grid-column: 1 / 2;
        background: #fff;
        border-radius: $boxBorderRadius;
        box-sizing: border-box;
        margin-top: $boxGapPadding;

        /* for alert message tooltip position */
        position: relative;
        top: -74px;
    }

    .duration {
        grid-row: 6 / 10;
    }

    .trialCount {
        grid-row: 10 / 13;
        
    }
}

.overviewBasicInfo {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    z-index: 2;
    max-height: 436px;
}

.overviewBestMetric {
    grid-column: 2 / 8;
    grid-row: 1 / 12;
    max-height: 1103px;
    overflow: hidden;

    .active {
        background: #d2d0ce;
    }

    .max {
        margin-left: 7px;
    }

    .mincenter {
        margin: 0 13px 0 $boxGapPadding;
    }

    .chooseEntry {
        margin-right: $boxGapPadding;
        line-height: 30px;
    }
}

.overviewChart {
    margin-top: 20px;
}
