$tableHeight: 520px;

.scrollPanel {
    height: $tableHeight - 20px;
}

#succTable {
    height: $tableHeight;
    font-size: 16px;
    position: relative;
    top: -10px;

    .ms-DetailsHeader {
        padding-top: 0;
    }

    .positionTopSuccess {
        position: relative;
        top: 5px;
    }

    .succTable-tooltip {
        width: 90%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .common-tabs {
            color: #0071bc;
            font-weight: 500;
        }
    }

    .succeed-padding {
        padding: 0 6px;
        box-sizing: border-box;
    }

    .No,
    .id,
    .metric,
    .duration-list {
        font-size: 16px;
        color: black;
    }
}
