
.status {
    color: #0573bc;
    font-size: 20px;
    font-weight: 600;

    .status-text {
        display: inline-block;
    }

    .color {
        color: #333;
    }
}

.probar {
    width: 100%;
    height: 34px;
    margin-top: 15px;

    .showProgress {
        width: 300px;
        height: 30px;
    }

    .name {
        width: 178px;
        box-sizing: border-box;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background-color: #999;
        border: 2px solid #e6e6e6;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .boundary {
        width: 100%;
        line-height: 24px;
        font-size: 12px;
        color: #212121;

        .right {
            text-align: right;
        }
    }

    .description {
        line-height: 34px;
        margin-left: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.inputBox {
    height: 32px;
    margin-top: 5px;
}

/* office-fabric-ui progressIndicator */
.ms-ProgressIndicator-itemProgress {
    padding: 0;
}

.cursor,
.cursor:hover {
    cursor: pointer;
}
