.nni {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212121;
    font-size: 14px;
    background: #f2f2f2;
}

.nav-slider {
    position: fixed;
    left: 0;
    top: 0;
    width: 56px;
    height: 100%;
    min-height: 400px;
    background: #fff;
    z-index: 1000;

    .bottom {
        position: absolute;
        bottom: 0;
    }
}

.nav-main {
    position: fixed;
    left: 56px;
    top: 0;
    width: calc(100vw - 56px);

    /* fix nav position to avoid overlap */
    min-width: 725px;
    height: 64px;
    background-color: #fff;
    z-index: 1000;
}

.headerCon {
    width: 90%;
    min-width: 1200px;
    max-width: 1490px;
    margin: 0 auto;
}

.contentBox {
    width: calc(100vw - 73px);
    margin: 0 auto;
    margin-left: 56px;
}

.content {
    width: calc(100vw - 114px);
    min-height: calc(100vh - 80px);
    min-width: 1116px;

    /* including right scroll bar auto */
    margin: 0 auto;

    /* nav bar: 64 + marginTop: 20 */
    margin-top: 84px;
}

.bottomDiv {
    margin-bottom: 10px;
}

.bgNNI {
    background-color: #fff;
}

.borderRight {
    margin-right: 10px;
}

/* office-fabric-ui */
.ms-Pivot-linkContent {
    height: 44px;
}

.ms-Callout-main {
    p {
        font-weight: 500;
        color: #fff;
    }
}

.warning {
    padding-bottom: 15px;
    background-color: #f2f2f2;
}
