$themeBlue: #0071bc;

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.link {
	outline: none;
	color: #333 !important;
	text-decoration: none;
	
	&:hover {
		color: #0071bc !important;
		text-decoration: underline;
	}
	&:active,
	&:visited {
		color: #0071bc;
	}
}

.cursor {
	&:hover,
	& i:hover {
		cursor: pointer;
	}
}

.elementMarginLeft {
	margin-left: 10px;
}

.operationBtn {
	i {
		color: $themeBlue;
	}
}

/* for table row border */
.ms-List-cell {
	border-bottom: 1px solid #EEECEA;
}
