$color: #f2f2f2;

.formatStr {
    border: 1px solid #8f8f8f;
    color: #333;
    padding: 5px 10px;
    background-color: #fff;
}

.format {
    .ant-modal-header {
        background-color: $color;
        border-bottom: none;
    }

    .ant-modal-footer {
        background-color: $color;
        border-top: none;
    }

    .ant-modal-body {
        background-color: $color;
        padding: 10px 24px !important;
    }
}
