/* website theme color */
$color: #0071bc;

/* bg light grey */
$bgColor: #f2f2f2;

.openRow {
    width: 100%;
    background-color: $bgColor;
    margin-bottom: 10px;

    &Content {
        width: 91%;
        margin: 0 auto;
        min-height: 150px;
        padding-bottom: 10px;
    }
}

.trialLog {
    white-space: normal;
    color: #212121;
}

#trialLogContent {
    .logcontent {
        height: 100%;
    }
}

#description {
    padding: 0 10px;

    .bgHyper ul {
        background-color: #fff !important;
        padding: 3px 0 5px 0 !important;
        font-size: 14px;
    }

    .copy {
        margin-top: 3px;

        button {
            background-color: #ccc;
            color: #191919;
            border: none;
            outline: none;
        }

        button:hover {
            background-color: #ccc;
            color: #191919;
            border: none;
            outline: none;
        }
    }
}
