/* website theme color */
$color: #0071bc;

/* bg light grey */
$bgColor: #f2f2f2;

.openRow {
    width: 100%;
    background-color: $bgColor;
    font-size: 14px;
    
    &Content {
        width: 91%;
        margin: 0 auto;
        margin-bottom: 10px;
        min-height: 122px;
    }
}

/* parameters style */
.bgHyper ul {
    margin: 0px !important;
    background-color: #fff !important;
    padding-bottom: 3px !important;
    
}

/* copy parameters btn */
.copy {
    button {
        background-color: #ccc;
        color: #191919;
        border: none;
        outline: none;
    }

    button:hover {
        background-color: #ccc;
        color: #191919;
        border: none;
        outline: none;
    }
}

.logpath {
    .logName {
        color: #268bd2;
    }

    .error {
        color: #cb4b16;
    }
}