/* some buttons in trial-detail table */
.allList {
    width: 96%;
    margin: 0 auto;
    margin-top: 15px;

    &-compare {
        margin-top: 15px;
    }

    &-entry {
        line-height: 32px;
    }

    /* compare button style */
    &-button-gap {
        margin-right: 10px;
    }

    &-search-input {
        padding-left: 10px;
    }
}

/* each row's Intermediate btn -> Modal */
.selectKeys {
    /* intermediate result is dict, select box for keys */
    .select {
        margin-right: 12%;
    }

    .ms-Dropdown {
        width: 120px;
    }
}
