/* react-json-tree background */
.description ul,
#allList ul {
    background: none;
}

.tabScroll {
    height: 324px;
    overflow: hidden;

    #succeTable .commonTableStyle {
        overflow-y: auto;
    }
}

#succTable,
#tableList {
    .commonTableStyle .leftTitle div {
        text-align: left;
    }
}

.margin-mediate {
    margin: 0 10px;
}

.detail-button {
    &-operation {
        min-width: 44px;
        border: none;
        margin-right: 10px;
    }

    i {
        color: #fff;
    }
}

.detail-table {
    padding-top: 5px;
}

.columns-height {
    max-height: 335px;
    overflow-y: auto;
}

$checkboxwidth: 18px;

.detail-check {
    .ms-Checkbox-checkbox {
        width: $checkboxwidth;
        height: $checkboxwidth;
        margin-top: 3px;
        border-radius: 50%;
        border: none;

        &:hover {
            border: 1px solid grey;
        }

        i {
            font-size: 8px;
            font-weight: 600;
        }
    }
}
