.overviewCommand1,
.overviewCommand2 {
    .command {
        margin-top: 0;
        font-weight: normal;
    }
}

.basic {
    .lineMargin {
        margin-top: 20px;
        font-weight: normal;
    }
}
