$boxPadding: 20px;
$boxBorderRadius: 5px;
$boxGapPadding: 10px;

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 97px;

    > div {
        background: #fff;
        padding: $boxPadding;
        border-radius: $boxBorderRadius;
        box-sizing: border-box;
    }

    .overviewProgress {
        grid-column: 2 / 6;
        grid-row: 1 / 5;
        display: grid;
        grid-auto-rows: 70px;
        margin: 0 $boxGapPadding;
        padding: 0;
        background: transparent;

        .duration,
        .trialCount {
            background: #fff;
            padding: $boxPadding;
            border-radius: $boxBorderRadius;
            box-sizing: border-box;

            /* for alert message tooltip position */
            position: relative;
        }

        .duration {
            // grid-row: 1 / 3;
            height: 139px;
        }

        .trialCount {
            margin-top: 79px;
            height: 239px;
        }
    }

    .overviewCommand1,
    .overviewCommand2 {
        border-radius: 0;
    }

    .overviewCommand1 {
        grid-column-start: 1;
        border-radius: $boxBorderRadius 0 0 $boxBorderRadius;
    }

    .overviewCommand2 {
        grid-column: 2 / 6;
        margin-right: 10px;
        padding-left: 30px;
        border-radius: 0 $boxBorderRadius $boxBorderRadius 0;
    }
}

.overviewBasicInfo {
    grid-column-start: 1;
    grid-row: 1 / 5;
    z-index: 2;
}

.basic {
    line-height: 21px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    p {
        font-size: 14px;
        color: #8f8f8f;
        margin-top: 20px;

        span {
            color: #484848;
        }
    }

    div {
        font-size: 16px;
        font-weight: 500;
        color: #484848;
    }

    .nowrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.overviewTable {
    grid-column: 6 / 10;
    grid-row: 1 / 11;
    overflow: hidden;

    .topTrialTitle {
        width: 72%;
    }

    .active {
        background: #d2d0ce;
    }

    .max {
        margin-left: 7px;
    }

    .mincenter {
        margin: 0 13px 0 10px;
    }

    .chooseEntry {
        margin-right: 10px;
        line-height: 30px;
    }
}

.overviewCommand1,
.overviewCommand2 {
    height: 144px;
    overflow: hidden;
    margin-top: 10px;
}

$circle: 10px;
$bgblue: #0071bc;

.overviewChart {
    grid-column: 1 / 6;
    grid-row: 7 / 11;
    margin-right: $boxGapPadding;
    margin-top: -29px;

    .circle {
        width: $circle;
        height: $circle;
        border-radius: 50%;
        background-color: $bgblue;
        margin-top: 6px;
        margin-right: 18px;
    }
}

.showMess {
    position: absolute;
    top: 42%;
    left: 48%;
}
