$iconPaddingVal: 10px;

.panelTitle {
    span {
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }

    i {
        font-size: 24px;
        margin-right: $iconPaddingVal;
        color: #545454;
    }
}

/* antd icon margin intermediate result style */
#tabsty .anticon {
    margin-right: 0;
}
