.wy-table-responsive table td, .wy-table-responsive table th{
    white-space:normal
}

.title {
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

.second-title{
    margin-top: 14px;
}
/* command style */
.command {
    background-color: #f8f8f8;
    border: 1px solid #e1e4e5;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding-left: 10px;
}

.command-intro {
    line-height: 40px;
}

.code{
    background-color: #f8f8f8;
    padding: 15px 20px;
}

/* p margin-top: 24 */
.topMargin{
    margin-top: 24px;
}

/* document body width */
.wy-nav-content{
    max-width: 100% !important;
    background-color: #fff;
}

/* nni logo bgcolor */
.wy-side-nav-search{
    background-color: black;
}

/* document body font-family */
.wy-body-for-nav, h1, h2, h3, h4, h5, h6, div, p, ul, li, a{
    font-family: "Lato", segoe ui, "proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.wy-nav-content ul li{
    list-style: disc;
    margin-bottom: 12px;
    margin-left: 24px;
}

.inline img, .inline h3{
    display: inline-block;
}
  
.ui-img img{
    height: 230px;
}

.wy-side-nav-search>div.version{
    color: #fff !important;
}

.chinese{
    margin-bottom: 16px;
}

.QR{
    width: 180px;
}

.or{
    vertical-align: middle;
}

.wy-plain-list-disc li, .rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li {
    margin-bottom: 0px;
}

.tuner{
    width: 90%;
    min-width: 674px;
    margin: 0 auto;
    margin-bottom: 25px;
    table-layout: fixed;
}

.tuner, .tuner td{
    border: 1px solid #ccc;
    font-size: 14px;
}

.tuner .references{
    width: 16%;
}

.tuner td:not(.core-td) {
    padding: 25px;
}

.tuner .core-td{
    padding-bottom: 25px;
}

.tuner ul.core{
    word-break: break-word;
    padding-left: 25px;
    padding-top: 25px;
    box-sizing: border-box;
}

@media screen and (min-width:1361px){
    .tuner ul.core{
        width: 25%;
    }
}

@media screen and (max-width:1360px){
    .tuner ul.core{
        width: 32%;
    }
}

.tuner .title {
    width: 100px;
}

.tuner ul {
    display: inline-block;
    vertical-align: top;
}

.tuner .align-td{
    line-height: 26px;
}

.tuner .algorithms{
    word-break: break-word;
}

.wy-nav-content .tuner li{
    list-style-type: none;
    line-height: 26px;
    margin-left: 0;
    margin-bottom: 0 !important;
}
