#succTable{
    height: 404px;
    overflow: auto;
    position: relative;
    .succTable-tooltip{
        position: absolute;
        top: 40%;
        left: 17%;
        .link{
            margin-left: 15px;
            a{
                font-weight: 500;
                color: blue;
            }
        }
    }
}