/* all table status font-color */
.RUNNING,.USER_CANCELED{
    color: #0071BC;
}
.FAILED{
    color: #dd4b39;
}
.SUCCEEDED{
    color: #00A445;
}
.UNKNOWN{
    color:	#FF8C00;
}
.SYS_CANCELED{
    color:	#EB0716;
}
.WAITING{
    color: #FDC401;
}
.EARLY_STOPPED{
    color: 	#FFA500;
}
