/* status: 'INITIALIZED' | 'RUNNING' | 'ERROR' | 'STOPPING' | 'STOPPED' | 'DONE' */

/* status: 'TUNER_NO_MORE_TRIAL' | 'NO_MORE_TRIAL' */
.RUNNING,
.STOPPING,
.INITIALIZED,
.NO_MORE_TRIAL,
.TUNER_NO_MORE_TRIAL {
    /* specific status color */
    color: #0071bc;

    /* progress- duration & trial numbers span */
    .ms-ProgressIndicator-progressBar {
        background-color: #0071bc;
    }
}

.DONE,
.STOPPED {
    color: #009245;

    .ms-ProgressIndicator-progressBar {
        background-color: #009245;
    }
}

.ERROR {
    color: #eb0716;

    .ms-ProgressIndicator-progressBar {
        background-color: #eb0716;
    }
}
