$themeBlue: #0071bc;

.ms-Dialog-main {
    max-width: 500px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link {
    color: $themeBlue;
    outline: none;
    text-decoration: none;

    &:hover {
        color: $themeBlue;
        text-decoration: underline;
    }

    &:active,
    &:visited {
        color: $themeBlue;
    }
}

.cursor {
    &:hover,
    & i:hover {
        cursor: pointer;
    }
}

.idCopy {
    .ms-Button--icon {
        width: 18px;
        height: 18px;
        margin-left: 4px;
    }

    i {
        color: #33333c;
    }
}

.ms-DetailsRow {
    height: 32px;
}

/* for graph tooltip style */
.graph > div > div {
    padding: 0 !important;
    border: none !important;
}

.operationBtn {
    i {
        color: $themeBlue;
    }
}

/* for table row border */
#tableList .ms-List-cell {
    border-bottom: 1px solid #eeecea;
}

.line-height {
    line-height: 30px;
}

.bold {
    font-weight: bold;
}

.positionTop {
    position: relative;
    top: 2px;
}

.input-padding {
    padding-left: 10px;
}

.fontColor333 {
    color: #333;
}

.font {
    .color333 {
        color: #333;
    }
}

.ms-DetailsRow-cell {
    padding-top: 8px;
}

.succTable .ms-DetailsRow-cell {
    padding-top: 10px;
}

/* for overview page title style such as Experiment,Duration,Trial numbers,top trials */
h3.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    span {
        margin-left: 16px;
    }
}

.font-untheme {
    color: #9ca3af;
}

.font-numbers-color {
    color: #464d5a;
}

.size16 {
    font-size: 16px;
}

.size18 {
    font-size: 18px;
}

.size24 {
    font-size: 24px;
}

.duration-global-color {
    b {
        color: black;
        margin: 0 1px;
    }

    span {
        font-size: 16px;
        color: #9ca3af;
    }
}

.borderRadius {
    border-radius: 4px;
}
