/* all trial status font-color in the table */
.RUNNING,
.USER_CANCELED,
.ADD_RESUMED {
    color: #0071bc;
}

.FAILED {
    color: #a4262c;
}

.SUCCEEDED {
    /* color: #00ad56;  */
    color: #18c4a9;
}

.UNKNOWN {
    color: #ff8c00;
}

.SYS_CANCELED {
    color: #eb0716;
}

.WAITING {
    color: #d29200;
}

.EARLY_STOPPED {
    color: #ffa500;
}
