sphinx>=3.3.1
sphinx-argparse
sphinx-rtd-theme
sphinxcontrib-websupport
pygments>=2.7.1
hyperopt
json_tricks
numpy
scipy
coverage
peewee
nbsphinx
schema
tensorboard
scikit-learn>=0.24.1
thop
colorama
pkginfo
websockets
filelock
prettytable
psutil
ruamel.yaml
ipython
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.8.2%2Bcpu-cp37-cp37m-linux_x86_64.whl
