authorName: default
experimentName: example_sklearn-regression
trialConcurrency: 1
maxExecDuration: 1h
maxTrialNum: 5
#choice: local, remote
trainingServicePlatform: local
searchSpacePath: search_space.json
#choice: true, false
useAnnotation: false
tuner:
  #choice: TPE, Random, Anneal, Evolution
  builtinTunerName: TPE
  classArgs:
    #choice: maximize, minimize
    optimize_mode: maximize
trial:
  command: python3 regression.py
  codeDir: .
  gpuNum: 0