searchSpace:
  sparsity:
    _type: choice
    _value: [0.25, 0.5, 0.75]
  pruner:
    _type: choice
    _value: ['slim', 'l2filter', 'fpgm', 'apoz']
  model:
    _type: choice
    _value: ['vgg16', 'vgg19']
trainingService:
  platform: local
trialCodeDirectory: .
trialCommand: python3 basic_pruners_torch.py --nni
trialConcurrency: 1
trialGpuNumber: 0
tuner:
  name: grid
