.compare-modal {
    /* decide modal size */
    .ms-Dialog-main {
        width: 50%;
        min-width: 450px;
    }

    .ms-Modal-scrollableContent {
        overflow-x: hidden;
    }

    /* compare-md: table style */
    .flex {
        display: flex;
    }

    &-table {
        width: 92%;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 1px solid transparent;
        overflow: auto hidden;
        color: #333;

        tr {
            line-height: 30px;
        }

        tr:nth-of-type(even) {
            background-color: gainsboro;
        }

        .column {
            max-width: 124px;
            padding-left: 18px;
            font-weight: 600;
        }

        .value {
            max-width: 152px;
            padding-right: 18px;
            text-align: left;
        }

        .idList {
            font-weight: 600;
        }
    }

    /* compare-md: intermediate graph style */
    &-intermediate {
        position: relative;

        .compare-yAxis {
            color: #333;
            position: absolute;
            top: 87%;
            left: 45%;
        }
    }
}
