.user{
    background: #ECF0F5;
    overflow: hidden;
}
.userCon{
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
}
/* add job */
.addtrial{
    width: 100%;
}
div.addtitle{
    height: 64px;
    text-align: center;
    line-height: 64px;
    margin-top: 16px;
    color: #333;
    font-size: 20px;
}
/* textarea margin 0 auto */
.userInput{
    width: 80%;
    margin: 0 auto;
    color: #333;
}
#userInputJob, #InputUpdate{
    color: #333;
}
/* two btn style */
.addBtubox{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
}
.addBtubox Button{
    float: right;
    height: 30px;
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.addBtubox Button:hover, .addBtubox Button:focus{
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
/* add job btn style end */
.updatesear{
    line-height: 64px;
    text-align: center;
    margin-top: 16px;
    color: #333;
    font-size: 20px;
}
.line{
    font-weight: 600;
    color: rgb(60,141,188);
    padding-right: 20px;
}
/* search box style */
.searchbox{
    width: 100%;
}