.close {
  button,
  button:active,
  button:hover {
    background-color: #212121;
    color: #fff;
    border: none;
  }
}
.download {
  button,
  button:active,
  button:hover {
    color: #fff;
    border: none;
  }
}

.log-tab-body {
  .refresh {
    margin-left: 10px;
    display: none;
  }
  .ms-Pivot-text{
    color: #fff;
  }
}

/* office-fabric-ui */
.ms-Panel-main {
  width: 55%;
  background: #333;
}

/* log drawer download & close button's row */
.buttons {
  margin-top: 16px;
  .close {
    text-align: right;
  }
}
