.download {
    button,
    button:active,
    button:hover {
        color: #fff;
        border: none;
    }
}

.log-tab-body {
    .refresh {
        margin-left: 10px;
        display: none;
    }
}

/* office-fabric-ui */
.ms-Panel-main {
    width: 55%;
    background: #fff;
}

/* log drawer download & close button's row */
.buttons {
    margin-top: 16px;

    .close {
        text-align: right;
    }
}
.configClose{
    margin: 45px 0 25px 0;
}