/* website theme color */
$color: #0071bc;
/* bg light grey */
$bgColor: #f2f2f2;
.openRowContent{
    .ant-tabs-vertical.ant-tabs-left .ant-tabs-bar .ant-tabs-tab{
        text-align: left !important;
    }
}
.openRowContent{
    .ant-tabs-nav .ant-tabs-tab:hover{
        color: $color;
    }
}
.openRowContent{
    margin-top: 15px;
    background-color: $bgColor;
    .card{
        .ant-tabs-vertical .ant-tabs-bar .ant-tabs-tab{
            margin: 0;
            padding: 8px 12px;
        }
        .ant-tabs-nav .ant-tabs-tab-active{
            color: $color;
            font-weight: 600;
            background: #dedede;
            border-left: 3px solid ;
        }
        .ant-tabs-tabpane{
            background: #f2f2f2;
            padding: 12px 12px 12px 0;
        }
    }
}
.trialLog{
    white-space: normal;
    color: #212121;
}
#trialLogContent{
    .ant-input-disabled{
        color: #212121;
        background-color: #fff;
        cursor: pointer;
        border: none;
    }
    .logcontent{
        height: 100%;
    }
}

#description{
    .bgHyper{
        background-color: #fff;
        margin-bottom: 12px;
    }
    .copy{
        Button{
            background-color: #ccc;
            color: #191919;
            border: none;
            outline: none;
        }
        Button:hover{
            background-color: #ccc;
            color: #191919;
            border: none;
            outline: none;
        }
    }
}
