
/* new style */
.overMessage{
    height: 424px;
}
.overGraph{
    height: 362px;
    
    .accuracy{
        width: 100%;
        height: 324px;
    }
}
.blockPadding{
    padding: 10px 20px;
}

.commonTableStyle{
    padding: 15px 20px;
    height: 100%;
    min-width: 500px;
    overflow-y: scroll;
}

.padItem{
    padding-left: 20px;
}

.searchSpace{
    height: 386px;
    line-height: 22px;
    font-size: 14px;
    overflow-y: scroll;
    padding: 15px 0;
    color: #212121;
}

.nowrap{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.main{
    margin: 9px 0;
}

.profile{
    padding: 0 20px;
    pre{
        overflow: inherit;
    }
}

.exbgcolor {
    background: #b3b3b3;

    .download{
        height: 30px;
        border: 1px solid #fff;
        border-radius: 0;
        margin-top: 4px;
        background-color: #0071BC;

        span{
            font-family: 'Segoe';
            font-size: 14px;
        }
        
        img{
            height: 14px;
            margin-left: 10px;
            margin-top: -6px;
        }
    }
}
.exbgcolor .download:hover{
    border: 1px solid #fff;
}