
/* new style */
.overMessage{
    height: 430px;
}
.overGraph{
    height: 362px;
    
    .accuracy{
        width: 100%;
        height: 324px;
    }
}
.blockPadding{
    padding: 10px 20px;
}

.commonTableStyle{
    padding: 15px 20px;
    height: 100%;
    min-width: 500px;
    overflow-y: scroll;
}

.padItem{
    padding-left: 20px;
}

.searchSpace{
    line-height: 22px;
    font-size: 14px;
    padding: 15px 0;
    color: #212121;
}

.nowrap{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.main{
    margin: 9px 0;
}

.profile{
    pre{
        overflow: inherit;
    }
}

.link{
    margin-bottom: 10px;
}
