$iconPaddingVal: 14px;

.panelTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 38px;
    padding: 4px $iconPaddingVal;
    box-sizing: border-box;

    img {
        height: 22px;

        /* (38 - 22 ) / 2 */
        margin-top: 8px;

        /* icon right */
        padding: 0 $iconPaddingVal 0 0;
    }

    span {
        font-size: 18px;
        font-weight: 600;
        color: #333;
        line-height: 38px;
    }

    i {
        font-size: 24px;
        color: #545454;
    }
}

/* antd icon margin intermediate result style */
#tabsty .anticon {
    margin-right: 0;
}

.top10bg {
    .top10Title {
        width: 160px;
    }

    .title {
        border-left: 2px solid #fff;
    }

    .minTitle {
        margin-right: $iconPaddingVal;
        border-right: 2px solid #fff;
    }

    .title:hover {
        cursor: pointer;
    }
}
