$titleBgcolor: #b3b3b3;
.overview .overviewBoder{
    height: 100%;
    border-right: 2px solid white;
}

.panelTitle{
    width: 100%;
    height: 38px;
    background: $titleBgcolor;

    img{
        height: 22px;
        margin-top: -8px;
        padding-left: 14px;
    }

    span{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        line-height: 38px;
        margin-left: 14px;
    }

    i{
        font-size: 24px;
        margin-left: 14px;
        color: #545454;
        position: relative;
        top: 2px;
    }
}

/* antd icon margin intermediate result style*/
#tabsty .anticon{
    margin-right: 0;
}

.top10bg{
    background-color: $titleBgcolor;

    .top10Title{
        width: 160px;
    }

    .title{
        width: 135px;
        border-left: 2px solid #fff;
    }

    .minTitle{
        border-right: 2px solid #fff;
    }
    
    .title:hover{
        cursor: pointer;
    }
}
