
/* new style */
.overMessage {
    height: 446px;
}

.blockPadding {
    padding: 10px 20px;
}

.commonTableStyle {
    padding: 15px 20px;
    height: 100%;
    min-width: 500px;
    overflow-y: auto;
}

.searchSpace {
    line-height: 22px;
    font-size: 14px;
    padding: 15px 0;
    color: #212121;
    width: 95%;
}

.nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main {
    margin: 9px 0;
}

.profile {
    pre {
        overflow: inherit;
    }
}

.link {
    margin-bottom: 10px;
}

.info {
    position: absolute;
    top: 32%;
    left: 8%;
    width: 84%;
    z-index: 1000;

    span {
        color: #333;
        font-size: 14px;
    }
}

/* overview-succeed-graph */
.showMess {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
