.overview .overviewBoder{
    height: 100%;
    border-right: 2px solid white;
}

.panelTitle{
    display: block;
    width: 100%;
    height: 38px;
    background: #b3b3b3;

    img{
        height: 22px;
        margin-top: -8px;
        padding-left: 14px;
        padding-right: 14px;
    }

    span{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        line-height: 38px;
    }
}