.pagination {
    margin: 0 10px;
    display: flex;
    list-style: none;
    outline: none;
    .hidden {
        display: none;
    }
    .disabled {
        display: none
    }
    .active {
        a, .span, a:hover,  a:focus, span:hover, span:focus {
            background-color: #0071bc ;
            border-color: #0071bc ;
            color: #fff;
            outline: none;
        }
    }
    li:first-child {
        a, span {
            border-radius: unset
        }
    }
    li {
        a{
            padding: 5px 10px;
            outline: none;
            cursor: pointer;
            color: #0071bc
        }
        span {
            color: #0071bc
        }
    }
}

// .pagination > e
// }

// .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
//   background-color: #0071bc ;
//   border-color: #0071bc;
//   outline: none;
// }
// .pagination > li > a, .pagination > li > span{
//   color: #0071bc
// }

// .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
//   border-radius: unset
// }