
.progress{
    margin: 15px 20px;
    .status{
        color: #0573bc;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-bottom: 12px;
    }

    .probar{
        height: 34px;
        margin-top: 15px;

        .ant-progress-inner{
            border: 2px solid #e6e6e6;
            border-radius: 0 12px 12px 0 !important;
        }
        .ant-progress-bg {
            border-radius: 0 !important;
        }
        .ant-progress-status-success .ant-progress-bg{
            border-radius: 0 12px 12px 0 !important;
            color: #009245;
            background-color: #009245;
        }
        .name{
            height: 34px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            background-color: #999;
            border: 2px solid #e6e6e6;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }
        
        .showProgress{
            height: 30px;
        }
        .description{
            width: 100%;
            line-height: 24px;
            font-size: 12px;
            .right{
                text-align: right;
            }
        }
    }
}

/* basic experiment message style */
.basic{

    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    p{
        font-size: 14px;
        color: #212121;
    }
    div{
        font-size: 16px;
        color: #8c8c8c;
    }
}

.colorOfbasic{
    div{
        color: #0573bc;
    }
}

.mess{
    margin: 10px 0;
}

.ant-tooltip-inner{
    white-space: nowrap;
    min-width: 300px;
}

