/* some buttons in trial-detail table */
.allList{
    width: 96%;
    margin: 0 auto;
    .right{
        text-align: right;
    }
    .entry{
        width: 120px;
        margin: 0 6px;
    }
    .btns{
        height: 32px;
        text-align: right;
        .ant-input-search{
            height: 32px;
        }
    }
}

.titleColumn{
    .ant-checkbox-group-item{
        display: block;
    }
}

.applyfooter{
    /* apply button style */
    .apply{
        text-align: right;
    }
}

Button.mediateBtn{
    margin: 0 32px;
}

/* each row's Intermediate btn -> Modal*/
.selectKeys{
    /* intermediate result is dict, select box for keys */
    .select{
        width: 120px;
        float: right;
        margin-right: 10%;
    }
}

