/* some buttons about trial-detail table */
.allList{
    width: 96%;
    margin: 0 auto;
    .right{
        text-align: right;
    }
    .entry{
        width: 120px;
        margin: 0 6px;
    }
    .btns{
        height: 32px;
        text-align: right;
        .ant-input-search{
            height: 32px;
        }
    }
}

.titleColumn{
    .ant-checkbox-group-item{
        display: block;
    }
}

.applyfooter{
    /* apply button style */
    .apply{
        text-align: right;
    }
}


