#succTable {
    min-height: 400px;
    max-height: 1000px;
    overflow-y: auto;
    position: relative;

    .succTable-tooltip {
        position: absolute;
        top: 40%;
        left: 8%;

        .link {
            margin-left: 15px;

            a {
                font-weight: 500;
                color: blue;
            }
        }
    }
}
