#succTable {
    min-height: 400px;
    max-height: 1000px;
    overflow-y: auto;
    position: relative;

    .succTable-tooltip {
        .link {
            margin-left: 15px;

            a {
                font-weight: 500;
                color: blue;
            }
        }
    }

    .succeed-padding {
        padding-left: 6px;
        box-sizing: border-box;
    }
}
