
$color: #0071bc;
.openRowContent{
    .ant-tabs-vertical.ant-tabs-left .ant-tabs-bar .ant-tabs-tab{
        text-align: left !important;
    }
}
.openRowContent{
    .ant-tabs-nav .ant-tabs-tab:hover{
        color: $color;
    }
}
.openRowContent{
    margin-top: 15px;
    .card{
        .ant-tabs-vertical .ant-tabs-bar .ant-tabs-tab{
            margin: 0;
            padding: 8px 12px;
        }
        .ant-tabs-nav .ant-tabs-tab-active{
            color: $color;
            font-weight: 500;
            background: #dedede;
            border-left: 3px solid ;
        }
        .ant-tabs-tabpane{
            background: #f2f2f2;
            padding: 10px 20px;
        }
    }
}
.trialLog{
    white-space: normal;
    color: #212121;
}
#trialLogContent{
    .ant-input-disabled{
        color: #212121;
        background-color: #fff;
        cursor: pointer;
        border: none; 
    }
    .logcontent{
        height: 100%;
    }
}
