/* all table status font-color */
.RUNNING,
.USER_CANCELED {
    color: #0071bc;
}

.FAILED {
    color: #dd4b39;
}

.SUCCEEDED {
    color: #00a445;
}

.UNKNOWN {
    color: #ff8c00;
}

.SYS_CANCELED {
    color: #eb0716;
}

.WAITING {
    color: #fdc401;
}

.EARLY_STOPPED {
    color: #ffa500;
}
