
#tabsty{
    .ant-tabs-nav-container{
        height: 38px;
    }
    .ant-tabs-tab{
        border: none;
        margin-right: 0;
        line-height: 38px;
        padding: 0;
    }
    .ant-tabs-nav-scroll{
        background-color: #b3b3b3;
    }
    .ant-tabs-tab-active{
        .panelTitle{
            background-color: #999;
            /*
            span{
                color: #fff;
                font-weight: normal;
            }
            */
        }
    }
    .panelTitle{
        margin-right: 14px;
        border-right: 2px solid #e8e8e8;
    }
}

.trial{
    /* graph, title total height */
    width: 100%;
    height: 478px;
    /* cancle default panel title style*/
    .ant-tabs-bar{
        margin: 0;
    }
    .graph{
        height: 432px;
        margin: 0 auto;
    }
}

.detailTabs{
    padding-left: 6px;
    padding-right: 18px;
}
/* table list all */

#tableList{
    .commonTableStyle{
        overflow: hidden;
    }
}

.tooldetailAccuracy{
    user-select: text;
    min-width: 245px;
    max-width: 350px;
    max-height: 350px;
    padding: 10px 10px;
    white-space: normal;
    overflow: auto;
    pre{
        overflow: inherit;
        margin-bottom: 10px;
    }
}

.allList{
    margin-top: 15px;
}

.default-metric{
    width: 90%;
    text-align: right;
    margin-top: 15px;
    .position{
        color: #333;
        .bold{
                font-weight: 600;
                margin-right: 10px;
            }
    }
}

/* for # intermediate in intermediate graph*/
.intermediate-graph{
    position: relative;
    .yAxis{
        color: #333;
        position: absolute;
        left: 45%;
        top: 86%;
    }
}
