.hyper{
    width: 98%;
    margin: 30px auto;
}
.rungraph{
    width: 100%;
}

pre.hyperpar{
    text-align: left;
}
.tables{
    width: 100%;
}

/* the position of the pagination */
.ant-table-pagination.ant-pagination{
    margin: 16px 0;
    float: right;
    margin-right: 30px; 
}
Button.tableButton{
    background:	#3c8dbc;
    border-color: #3c8dbc;
    height: 28px;
    line-height: 28px;
    /* padding: 3px 4px; */
}

.hyperpar ul, .hyperpar ul li{
    background: none !important;
}
/* kill btn style: delete its own hover style */
/* after button click the color not change */
Button.tableButton:hover, Button.tableButton:focus{
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.ant-modal-title{
    font-size: 20px;
}



