
#tabsty{
    .ant-tabs-nav-container{
        height: 38px;
    }
    .ant-tabs-tab{
        border: none;
        margin-right: 0;
        line-height: 38px;
        padding: 0;
    }
    .ant-tabs-nav-scroll{
        background-color: #b3b3b3;
    }
    .ant-tabs-tab-active{
        .panelTitle{
            background-color: #999;
            span{
                color: #fff;
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
    .panelTitle{
        margin-right: 14px;
        border-right: 2px solid #e8e8e8;
        
        span{
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}

.trial{
    /* graph, title total height */
    width: 100%;
    height: 478px;
    /* cancle default panel title style*/
    .ant-tabs-bar{
        margin: 0;
    }
    .graph{
        height: 432px;
        margin: 0 auto;
    }
}

.detailTabs{
    padding-left: 6px;
    padding-right: 18px;
}
/* table list all */

#tableList{
    .commonTableStyle{
        overflow: hidden;
    }
}