svg {
  overflow: hidden;
}

.node {
  white-space: nowrap;
}

.node.input rect, .node.output rect {
  fill: #9d0f0f;
}

.node.hub rect {
  fill: #0f309d;
}

.node.blob rect {
  fill: #0F9D58;
}

.node text {
  fill: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}

.cluster rect {
  stroke: #333;
  fill: #000;
  fill-opacity: 0.1;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}
