$barHeight: 64px;

.header {
    background: #0071bc;
}

.navOptions {
    .ms-Button-icon {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .ms-Button--commandBar {
        background-color: #0071bc;
        -webkit-user-select: none;
        user-select: none;

        &:hover,
        &:active {
            color: #fff;

            .ms-Button-icon {
                color: #fff;
            }
        }

        .ms-Button-textContainer {
            color: #fff;
        }

        .ms-Button-menuIcon {
            color: #fff;
            background-color: transparent;
        }
    }

    .experiment {
        position: relative;
        top: 3px;
        text-decoration: none;
    }
}

.nav {
    width: 100%;
    min-width: 1200px;
    height: $barHeight;
    line-height: $barHeight;

    /* desktop mode useful */
    .desktop-logo {
        position: relative;
        top: 6px;
    }

    .logoTitle {
        font-size: 18px;
        color: #fff;
    }

    &-refresh {
        position: relative;
        display: flex;

        button {
            height: 36px;
            padding: 0 6px;
            box-sizing: border-box;
            background: #f9fafb;
        }
    }

    &-refresh-num {
        position: absolute;
        top: -2px;
        left: 19px;
        font-size: 12px;
    }
}

/* overview and detail tabs common style */
.common-tabs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #b8c7ce;
    text-decoration: none;
}

.selected .common-tabs {
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
}

.left-right-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.expNavTitle {
    span {
        color: #fff;
        text-decoration: none;
        position: relative;
        top: -4px;
    }

    i {
        color: #fff;
        font-size: 12px;
        position: relative;
        top: -3px;
        padding-left: 4px;
    }
}

.nav-main {
    .title {
        line-height: 64px;
        margin-left: 32px;
        font-size: 24px;
        font-weight: 700;
    }

    .options {
        position: absolute;
        right: 40px;
        margin-top: 14px;

        /* navMaintoken: gap = 16, 24-15=9 */
        .bar {
            margin-left: 24px;
            margin-right: 8px;
            font-size: 22px;
            color: #e5e7eb;
        }
    }
}

.experiments-info .contentBox {
    margin: 0 auto;
}
