$buttonBorderRadius: 23px;
$errorseriscolor: #fc615c;

.config {
    position: fixed;
    right: 0;
    z-index: 1000;

    .ms-Button--default {
        padding: 0 8px;
        margin-bottom: 12px;
        border: none;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
        border-radius: $buttonBorderRadius 0 0 $buttonBorderRadius;
        font-size: 12px;
        text-align: left;

        .ms-Button-label {
            font-weight: normal;
        }
    }

    .integralBtn {
        display: none;
    }

    .margin {
        margin-left: 10px;
    }
}

.container {
    text-align: right;

    .icon {
        min-width: 50px;

        i {
            font-size: 16px;
        }
    }

    .maxScrBtn {
        width: 150px;

        &:hover {
            color: #fff;
            border: 1px solid blue;
            background-color: #0071bc;
        }
    }

    .configBtn i {
        margin-left: -40px;
    }

    .logBtn i {
        margin-left: -25px;
    }

    &:hover {
        .icon {
            display: none;
        }

        .integralBtn {
            display: block;
            color: #fff;
            border: 1px solid blue;
            background-color: #0071bc;

            i {
                font-size: 14px;
            }
        }
    }
}

.ms-Fabric {
    .ms-Panel-commands {
        margin: 0;
    }
}

.experiment-error {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 455px;
    min-width: 300px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #f8f8f8;
    box-shadow: 0 4px 16px rgba(78, 97, 123, 0.2);
    background-color: #fff;

    /* error model has the highest priority */
    z-index: 10000000;

    .head {
        height: 27px;
        line-height: 27px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 12px;

        .title {
            color: $errorseriscolor;
        }

        .close {
            position: absolute;
            right: 30px;
        }

        .icon {
            width: 24px;
            height: 24px;
            background-color: $errorseriscolor;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: 1px;

            i {
                display: block;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                position: relative;
                top: -1px;
            }
        }
    }

    .message {
        line-height: 24px;
    }

    &-buttons {
        margin-top: 16px;
    }

    .detailsBtn {
        height: 30px;
        font-size: 12px;
        color: #fff;
        background: $errorseriscolor;
        border: none;
        border-radius: 6px;
        padding: 0 12px;

        .ms-Button-label {
            font-size: 12px;
        }
    }
}
